:root {
    --light: hsl(0, 0%, 91%);
    --dark: hsl(0, 0%, 18%);

    --x: hsl(12, 100%, 29%);
    --o: hsl(202, 100%, 30%);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

