:root {
    --light: hsl(0, 0%, 91%);
    --dark: hsl(0, 0%, 18%);

    --x: hsl(12, 100%, 29%);
    --o: hsl(202, 100%, 30%);
}

body {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.game {
    background-color: var(--light);
    height: 70vw;
    width: 70vw;
    max-height: 600px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-grid {
    background-color: var(--dark);
    width: 95%;
    height: 95%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 7px;
}

.box {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =============== X CHARACTER START ========================== */
.x {
    height: 100%;
    width: 100%;
    position: relative;
}

.x-line-one,
.x-line-two {
    background-color: var(--x);
    position: absolute;
    width: 8%;
    height: 100%;
    left: 46%;
}

.x-line-one {
    transform: rotate(45deg);
}

.x-line-two {
    transform: rotate(135deg);
}
/* ================ X CHARACTER END =========================== */

/* =============== O CHARACTER START ========================== */
.o,
.inner-o {
    border-radius: 50%;
}

.o {
    width: 85%;
    height: 85%;
    background-color: var(--o);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-o {
    width: 80%;
    height: 80%;
    background-color: var(--light);
}
/* ================ O CHARACTER END =========================== */


@media screen and (max-width: 400px) {

    .game {
        height: 90vw;
        width: 90vw;
    }

    .square-grid {
        gap: 4px;
    }
}